form input {
   display: block;
   margin: 0.5em;
}

input[type=submit] {
    //background-color: red;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
}

form.create button[type=submit]::before {
    content: "Opprett ";
}

form.edit button[type=submit]::before {
    content: "Oppdater ";
}