a::before {
    /*content: "[" attr(rel) "]";*/
}
a:hover {
    content: "[" attr(rel) "]";
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.boxes div {
    outline: 2px darkslategray groove;
    margin-top: 2px;
    padding-top: 2px;
}

form fieldset {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    /*display: block;*/
}

form fieldset label span {
    /*display: inline-block;*/
    /*width: 10em;*/
}

.boxes div:not(.html) {
    font-family: monospace;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.html {
    white-space: normal;
}